doctype html
html(lang="en")
  head
    // Meta tags
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // Webpage's title
    title About Us
    // The link to CSS file
    link(rel="stylesheet", href="about_us.css")
    // The link to Font Awesome
    script(src="https://kit.fontawesome.com/cbc661c18f.js", crossorigin="anonymous")
    // The link to JS file that runs "Subscription" form
    script(src="subscribe.js")
  body
    header
      // The header section with logo and "Globopedia" text
      div.header_section
        div.logo
          i.fa-solid.fa-earth-americas
          h1 Globopedia
    main
      // Sidebar settings
      div.sidebar
        ul
          li.logo
            span.icon
              ion-icon(name="list-outline")
            span.text Navigation
          // Sidebar's navigation links
          li
            a(href="home.html")
              span.icon
                ion-icon(name="home-outline")
              span.text Home
          li
            a(href="facts_world.html")
              span.icon
                ion-icon(name="pie-chart-outline")
              span.text Facts
          li
            a(href="report_generation.html")
              span.icon
                ion-icon(name="stats-chart-outline")
              span.text Reports
          li.about_us
            a(href="about_us.html")
              span.icon
                ion-icon(name="person-circle-outline")
              span.text About Us
      // The section where all information about creators is appeared
      div#members
        h1.main_heading About Us
        div.eachmembers
          div.Adnan
            div.image_box
              img(src="images/adnan.jpg", alt="Adnan", class="images")
            div.details
              h2 Adnan
              p Role: Scrum Master
                br
                | Age: 21
                br
                | Skilled in: C, C++, C#, python
                br
                | Experience Level: Beginner
          div.Anas
            div.image_box
              img(src="images/anas.jpg", alt="Anas", class="images")
            div.details
              h2 Anas
              p Role: Back-End Developer
                br
                | Age: 21
                br
                | Skilled in: C, C++, C#, python
                br
                | Experience Level: Beginner
          div.Jakhongir
            div.image_box
              img(src="images/jakhongir.jpg", alt="Jakhongir", class="images")
            div.details
              h2 Jakh
              p Role: Front-End Developer
                br
                | Age: 21
                br
                | Skilled in: C, C++, C#, python
                br
                | Experience Level: Beginner
          div.Rafey
            div.image_box
              img(src="images/rafey.jpg", alt="Rafey", class="images")
            div.details
              h2 Rafey
              p Role: Product Owner
                br
                | Age: 22
                br
                | Skilled in: C, C++, C#, python
                br
                | Experience Level: Beginner
          // Social media links of each creator
          div.adnancontacts
            p.head Socials
            a(href="https://www.instagram.com/adnan_171_/")
              img(src="images/instagram.jpg", class="logo")
            a(href="https://github.com/stealth1710")
              img(src="images/github.jpg", class="gitlogo")
          div.anascontacts
            p.head Socials
            a(href="https://www.instagram.com/anas_kp___/")
              img(src="images/instagram.jpg", class="logo")
            a(href="https://github.com/kiliyamm")
              img(src="images/github.jpg", class="gitlogo")
          div.jakhcontacts
            p.head Socials
            a(href="https://www.instagram.com/brilliance2002/")
              img(src="images/instagram.jpg", class="logo")
            a(href="https://github.com/Brilliance2002")
              img(src="images/github.jpg", class="gitlogo")
          div.rafeycontacts
            p.head Socials
            a(href="https://www.instagram.com/syed_waitforit_saleem/")
              img(src="images/instagram.jpg", class="logo")
            a(href="https://github.com/SyedARSaleem")
              img(src="images/github.jpg", class="gitlogo")
    // Footer section
    footer
      div.footer
        h2 Globopedia
        ul.ul_list
          // "Contact Us" links
          li
            a(href="#")
              i.fa-solid.fa-envelope.icon
          li
            a(href="#")
              i.fa-brands.fa-square-instagram.icon
          li
            a(href="#")
              i.fa-brands.fa-linkedin.icon
          li
            a(href="#")
              i.fa-brands.fa-twitter.icon
        // Subscription link to daily facts
        p.subscribe
          a(href="#" id="subscribeButton") SUBSCRIBE
          |  to our daily facts via email
        // Subscription pop-up form
        div#popupForm
          form#subscriptionForm
            label(for="email") Email:
            input(type="email", id="email", placeholder="Enter your email here", name="email", required)
            input(type="submit", value="Subscribe")
          // Exit button
          button#closeButton X
        // Overlay (hidden by default)
        div#overlay
        // Copyright section
        div.copyrights
          p Privacy Policy
          p Copyright @ 2024 | All Rights Reserved
  // Script tags that are responsible for loading the Ionicons library (icons)
  script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
  script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
