* {
    font-family:'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto;
  }

/* Styles for header section */

header {
    background-color: rgb(8, 47, 80);
} 
.header_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 15px;
}
.header_section h1 {
    color: rgb(170, 190, 207);
    font-size: 1.9rem;
    padding-left: 15px;
}
.header_section .fa-earth-americas {
    font-size: 3rem;
    color: rgb(170, 190, 207);
}
.header_section .fa-user {
    font-size: 1.6rem;
    color: rgb(170, 190, 207);
}
.logo {
    display: flex;
    width: 6%;
    align-items: center;
}

/* Styles for body section */

body {
    margin: 0px;
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}
main {
    display: flex;
    min-height: 100vh;
    background-color: rgb(189, 202, 212);
}

/* Styles for sidebar section */

.sidebar {
    position: absolute;
    width:60px;
    height:763px;
    background: rgb(164, 184, 202);
    overflow: hidden;
    transition: 0.5s;
    z-index: 1000;
}
.sidebar:hover {
    width: 300px;
}
.sidebar ul {
    position: relative;
    height: calc(100vh - 50px);
    padding: 10px 0;
}
.sidebar ul li {
    list-style: none;
}
.sidebar ul li:hover {
    background: #f3f3f3;
}
.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

/* Adjust margin-top to position the "About Us" bar lower than other bars */

.sidebar ul li.about_us {
    margin-top: 405px; 
}
.sidebar ul li a .icon,
.sidebar ul li.logo .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #333;
}
.sidebar ul li a .text,
.sidebar ul li.logo .text {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.sidebar ul li.logo {
    margin-bottom: 50px;
}
.sidebar ul li.logo .icon {
    font-size: 2em;
}
.sidebar ul li.logo .text {
    font-size: 1.2em;
    font-weight: 600;
}
.sidebar ul li.logo:hover,
.sidebar ul li.logo:hover > a {
    background: transparent;
}

/* Container styles */

.containers {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 40px;
    justify-content: center;
}

/* Main content styles */

#members {
    background-color: rgb(189, 202, 212);
    margin-left: 130px;
    color: white;
    height: 763px;
    width: 1200px;
    text-align: center;
    padding-top: 10px;
}
#members h1 {
    color:rgb(8, 47, 80);
    font-family:'Trebuchet MS', sans-serif;
    margin-top: 40px;
    margin-left: 50px;
}
.eachmembers {
    background-color: rgb(189, 202, 212);
    border-radius: 10px;
    color: white;
    height: 570px;
    width: auto;
    display: flex;
    gap: 100px;
    padding-top: 40px;
    padding-left: 28px;
}
.Adnan {
    background: linear-gradient(135deg, rgba(255,255,255, 0.1),rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius:50px 20px;
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width: auto;
    margin-left: 10px;
    padding-right: 10px;
    height: 400px;
}
.Anas {
    background: linear-gradient(135deg, rgba(255,255,255, 0.1),rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius:50px 20px;
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width: auto;
    margin-left: 10px;
    padding-right: 10px;
    height: 400px;
    display: flex;
}
.Jakhongir {
    background: linear-gradient(135deg, rgba(255,255,255, 0.1),rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius:50px 20px;
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width: auto;
    margin-left: 10px;
    padding-right: 10px;
    height: 400px;
    display: flex;
}
.Rafey {
    background: linear-gradient(135deg, rgba(255,255,255, 0.1),rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px 20px;
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    width: auto;
    margin-left: 10px;
    padding-right: 0px;
    height: 400px;
    display: flex;
}
.images {
    max-height: 300px;
    width: auto;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 22px;
    display: flex;
    border: 10px;
    border-radius:50px 10px;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: heading_font;
    src:url(GROBOLD.ttf);
}
@font-face {
    font-family: socials;
    src: url(SpongeboyMeBob.ttf);
}
@font-face {
    font-family: names;
    src: url(Raosand.ttf);
}
.main_heading {
    font-family: fantasy;
}

/* Styles for Adnan's info container after hovering */

.Adnan::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.Adnan:hover .images {
    filter: grayscale(1)  brightness(0.4);
}
.Adnan:hover::after {
    opacity: 1;
    inset: 20px;
}
.Adnan:hover .details h2 {
    scale: 1;
    opacity: 1;
}
.Adnan:hover .details p {
    opacity: 1;
    transform: translateY(0);
}
.details {
    width: 80%;
    position: absolute;
    top: 40% ;
    left: 57%;
    transform: translate(-50%, -50%) scale(.9);
    text-align: center;
    font-family: fantasy;
}
.details h2,.details p {
    opacity: 0;
    transition: 0.4s 0.2s ease;
}
.details p {
    font-size: 14px;
    line-height: 2.0;
    transform: translateY(50%);
    text-align:justify;
    font-family: fantasy;
}
.details h2 {
    text-align: start;
    scale: .7;
    font-family: fantasy;
}

/* Styles for Anas's info container after hovering */

.Anas::after { 
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.Anas:hover .images {
    filter: grayscale(1)  brightness(0.4);
}
.Anas:hover::after {
    opacity: 1;
    inset: 20px;
}
.Anas:hover .details h2 {
    scale: 1;
    opacity: 1;
}
.Anas:hover .details p {
    opacity: 1;
    transform: translateY(0);
}

/* Styles for Jakhongir's info container after hovering */

.Jakhongir::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.Jakhongir:hover .images {
    filter: grayscale(1)  brightness(0.4);
}
.Jakhongir:hover::after {
    opacity: 1;
    inset: 20px;
}
.Jakhongir:hover .details h2 {
    scale: 1;
    opacity: 1;
}
.Jakhongir:hover .details p {
    opacity: 1;
    transform: translateY(0);
}

/* Styles for Rafey's info container after hovering */

.Rafey::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.Rafey:hover .images {
    filter: grayscale(1)  brightness(0.4);
}
.Rafey:hover::after {
    opacity: 1;
    inset: 20px;
}
.Rafey:hover .details h2 {
    scale: 1;
    opacity: 1;
}
.Rafey:hover .details p {
    opacity: 1;
    transform: translateY(0);
}

/* Styles for Adnan's contacts section */

.adnancontacts {
    position: absolute;
    bottom: 50px;
    left: 195px;
    width: 150px;
    height: 90px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1),rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30% 30% 80% 80%;
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

/* Styles for Adnan's instagram logo */

.adnancontacts .logo {
    height: 43px;
    position: absolute;
    width: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    bottom: 9%;
    left: 10%;
}

/* Styles for Adnan's Github logo */

.adnancontacts .gitlogo {
    height: 60px;
    position: absolute;
    width: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    left: 50%;
    bottom: 0.1em;
}

/* Styles for Anas's contact section */

.anascontacts {
    position: absolute;
    bottom: 50px;
    left: 515px;
    width: 150px;
    height: 90px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1),rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30% 30% 80% 80%;
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

/* Styles for Anas's instagram logo */

.anascontacts .logo {
    height: 43px;
    position: absolute;
    width: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    bottom: 9%;
    left: 10%;
}

/* Styles for Anas's Github logo */

.anascontacts .gitlogo {
    height: 60px;
    position: absolute;
    width: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    left: 50%;
    bottom: 0.1em;
}

/* Styles for Jakhongir's contacts section */

.jakhcontacts {
    position: absolute;
    bottom: 50px;
    left: 835px;
    width: 150px;
    height: 90px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1),rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30% 30% 80% 80%;
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

/* Styles for Jakhongir's instagram logo */

.jakhcontacts .logo {
    height: 43px;
    position: absolute;
    width: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    bottom: 9%;
    left: 10%;
}

/* Styles for Jakhongir's Github logo */

.jakhcontacts .gitlogo {
    height: 60px;
    position: absolute;
    width: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    left: 50%;
    bottom: 0.1em;
}

/* Styles for Rafey's contacts section */

.rafeycontacts {
    position: absolute;
    bottom: 50px;
    left: 1155px;
    width: 150px;
    height: 90px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1),rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30% 30% 80% 80%;
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

/* Styles for Rafey's instagram logo */

.rafeycontacts .logo {
    height: 43px;
    position: absolute;
    width: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    bottom: 9%;
    left: 10%;
}

/* Styles for Rafey's Github logo */

.rafeycontacts .gitlogo {
    height: 60px;
    position: absolute;
    width: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    left: 50%;
    bottom: 0.1em;
}
  
/* Setting "Social's" text into blue color */

.rafeycontacts p, 
.adnancontacts p,
.jakhcontacts p,
.anascontacts p {
    color: rgb(8, 47, 80);
}
  
/* Styles for footer section */

.footer {
    background-color: rgb(8, 47, 80);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
h2 {
    padding-top: 2%;
    font-size: 3rem;
    text-align: center;
    color: rgb(170, 190, 207);
}
.ul_list {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    list-style: none;
}
.ul_list li i {
    color: rgb(170, 190, 207);
    font-size: 2rem;
    padding: 12px 12px;
    border: 2px solid rgb(170, 190, 207);
    border-radius: 50px;
}
.subscribe {
    padding-top: 1rem;
    color: rgb(170, 190, 207);
    font-size: 1.1rem;
}
.subscribe a {
    color: rgb(170, 190, 207);
}

/* Styles for the pop-up form and overlay */

#popupForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(189, 202, 212);
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 600px;
    height: 200px;
}
#subscriptionForm {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
}
#subscriptionForm input[type="submit"] {
    margin-top: 30px;
    width: 80px;
    height: 30px;
}
#subscriptionForm input[type="email"] {
    margin-top: 30px;
    width: 300px;
    height: 30px;
}
#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

/* Copyright section */

.copyrights {
    padding-top: 30px;
    text-align: center;
    color: rgb(170, 190, 207);
}
.bottom {
    bottom: 0;
    position: absolute;
    width: auto;
}