* {
    font-family:'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto;
  }
/**************************** Header section ****************************/
header{
    background-color: rgb(255, 255, 255);
} 
.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 15px;
}
.header_section h1{
    color: rgb(10, 10, 10);
    font-size: 1.9rem;
    padding-left: 15px;
}
.header_section .fa-earth-americas{
    font-size: 3rem;
    color: rgb(12, 12, 12);
}
.header_section .fa-user{
    font-size: 1.6rem;
    color: rgb(9, 9, 9);
}
.logo{
    display: flex;
    width: 6%;
    align-items: center;
}

/**--------------------- Body ---------------**/

body{
    margin: 0px;
    background-color:white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
}
main{
    display: flex;
    min-height: 100vh;
    background-color: rgb(189, 202, 212);
}

.population_facts{
    width: 100%;
}
.population_facts h1{
    text-align: center;
    margin-top: 40px;
    color: rgb(8, 47, 80);
}
.containers{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 40px;
    justify-content: center;
    
}
.fact{
     border: 2px solid rgb(50, 50, 51); 
    border-radius: 20px; 
    box-shadow: 5px 5px 15px 5px #000000;
    /* height: 250px; */
    margin-top: 20%;
    width: 100%;
    padding: 6px;
} 
.fact .p{
    padding-top: 10px;
    padding: 12px;
    padding-bottom: 13px;
    font-size: 1.1rem;
    color: rgb(8, 47, 80);
}
.fact img{
    border-radius: 20px;
    padding: 12px;
}

.facts_form{
    margin-left: 200px;
    margin-top: 70px;
    font-size: 1.5rem;

}

#facts{
    font-size: 1.25rem;
}

.display_button button{
    font-size: 1.5rem;
    background-color: rgb(8, 47, 80);
    margin-top: 50px;
    margin-left: 300px;
}

.display_button a{
    font-size: 1.4rem;
    padding: 15px;
    text-decoration: none;
    color: rgb(164, 184, 202);
    
}
.sidebar {
    position: absolute;
    width:60px;
    height:max-content;
    background: white;
    overflow: hidden;
    transition: 0.5s;
    
   
}

.sidebar:hover {
    width: 300px;
}

.sidebar ul {
    position: relative;
    height: calc(100vh - 50px);
    padding: 10px 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li:hover {
    background: #f3f3f3;
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li a .icon,
.sidebar ul li.logo .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    font-size: 1.5em;
    color: #333;
}

.sidebar ul li a .text,
.sidebar ul li.logo .text {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.sidebar ul li.logo {
    margin-bottom: 50px;
}

.sidebar ul li.logo .icon {
    font-size: 2em;
}

.sidebar ul li.logo .text {
    font-size: 1.2em;
    font-weight: 600;
}

.sidebar ul li.logo:hover {
    background: #fff;
}

/**************************** Footer section ****************************/
.footer{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
h2{
    padding-top: 2%;
    font-size: 3rem;
    text-align: center;
    color: rgb(4, 4, 4);
}
.ul_list{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    list-style: none;
}
.ul_list li i{
    color: rgb(6, 6, 6);
    font-size: 2rem;
    padding: 12px 12px;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 50px;
    
}
.subscribe{
    padding-top: 1rem;
    color: rgb(10, 11, 11);
    font-size: 1.1rem;
}
.subscribe a{
    color: rgb(13, 14, 15);
   
}
.copyrights{
    padding-top: 30px;
    text-align: center;
    color: rgb(10, 11, 11);
}
.bottom
{
    bottom: 0;
    position: absolute;
    width: auto;
}
