doctype html
html(lang='en')
  head
    // Meta tags
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // Webpage's title
    title Login
    // The link to CSS file
    link(rel='stylesheet', href='login.css')
    // The link to Font Awesome
    script(src='https://kit.fontawesome.com/cbc661c18f.js', crossorigin='anonymous')
    // The link to JS file that runs "Subscription" form
    script(src='subscribe.js')
    // The link to JS file that runs "Login" form
    script(src='login.js')
  body
    // The header section with logo and "Globopedia" text
    header
      div.header_section
        div.logo
          i.fa-solid.fa-earth-americas
          h1 Globopedia
    main
      // Sidebar settings
      div.sidebar
        ul
          li.logo
            span.icon
              ion-icon(name='list-outline')
            span.text Navigation
          li
            // Sidebar's navigation links
            a(href='home.html')
              span.icon
                ion-icon(name='home-outline')
              span.text Home
          li
            a(href='facts_world.html')
              span.icon
                ion-icon(name='pie-chart-outline')
              span.text Facts
          li
            a(href='report_generation1.html')
              span.icon
                ion-icon(name='stats-chart-outline')
              span.text Reports
          li.about_us
            a(href='about_us.html')
              span.icon
                ion-icon(name='person-circle-outline')
              span.text About Us
      // Main Content
      div.login_heading
        h1 Login
      // Login container with all fields and verification code
      div.login_container
        form#loginForm
          input(type='text', name='username', pattern='[A-Za-z0-9_]+', placeholder='Enter your username', title='Username can only contain letters, numbers, and underscores.', required)
          h1 Username can only contain letters, numbers, and underscores.
          input(type='password', name='password', pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{7,}', placeholder='Enter your password', title='Password must be at least 7 characters long and contain at least one number, one uppercase and lowercase letter.', required)
          h2 Password must be at least 7 characters long and contain at least one number, one uppercase and lowercase letter.
          button(type='submit') Login
          // Success Message Modal
          div#successModal.modal
            div.modal-content
              span.close &times;
              p Welcome,
                span#successMessage.
          // Link to sign up page
          p A new user? 
            a(href='sign_up.html') Sign up now
    // Footer section
    footer
      div.footer
        h2 Globopedia
        ul.ul_list
          // "Contact Us" links
          li
            a(href='#')
              i.fa-solid.fa-envelope.icon
          li
            a(href='#')
              i.fa-brands.fa-square-instagram.icon
          li
            a(href='#')
              i.fa-brands.fa-linkedin.icon
          li
            a(href='#')
              i.fa-brands.fa-twitter.icon
        // Subscription link to daily facts
        p.subscribe
          a#subscribeButton(href='#') SUBSCRIBE to our daily facts via email
        // Copyright section
        div.copyrights
          p Privacy Policy
          p Copyright @ 2024 | All Rights Reserved
  // Script tags that are responsible for loading the Ionicons library (icons)
  script(type='module', src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
  script(src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js', nomodule='')
