doctype html
html(lang="en")
  head
    // Meta tags
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    // Webpage's title
    title Reports
    // The link to CSS file
    link(rel="stylesheet", href="report_generation.css")
    // The link to Font Awesome
    script(src="https://kit.fontawesome.com/cbc661c18f.js", crossorigin="anonymous")
    // The link to JS files
    script(src="subscribe.js")
    script(src="report_generation.js")
  body
    // The header section with logo and "Globopedia" text
    header
      .header_section
        .logo
          i.fa-solid.fa-earth-americas
          h1 Globopedia
    main
      // Sidebar settings
      .sidebar
        ul
          li.logo
            span.icon
              ion-icon(name="list-outline")
            span.text Navigation
          li
            // Sidebar's navigation links
            a(href="/home")
              span.icon
                ion-icon(name="home-outline")
              span.text Home
          li
            a(href="/facts_world")
              span.icon
                ion-icon(name="pie-chart-outline")
              span.text Facts
          li
            a(href="/report_generation1")
              span.icon
                ion-icon(name="stats-chart-outline")
              span.text Reports
          li.about_us
            a(href="/about_us")
              span.icon
                ion-icon(name="person-circle-outline")
              span.text About Us
      // Main (Report Generator) sector settings
      .report-generator
        // Heading for Report Generator
        h1 Report Generator
        // Options to choose
        .mt-4
          span Top
          input(type="number", id="count_world", placeholder="Enter a number")
          |  countries in the
          select(id="reportType")
            option(value="world", selected) World
          button#generateButton(onclick="fetchCountriesByPopulationDescending_World()") Generate
        .mt-4
          span Top
          input(type="number", id="count_Continent", placeholder="Enter a number")
          |  countries in the Continent
          input(type="text", id="ContinentName", placeholder="Enter the Continent")
          button#generateButton(onclick="fetchCountriesByPopulationDescending_Continent()") Generate
        .mt-4
          span Top
          input(type="number", id="count_Region", placeholder="Enter a number")
          |  countries in the Region
          input(type="text", id="RegionName", placeholder="Enter the Region")
          button#generateButton(onclick="fetchCountriesByPopulationDescending_Region()") Generate
    // Footer section
    footer
      .footer
        h2 Globopedia
        ul.ul_list
          // "Contact Us" links
          li
            a(href="#")
              i.fa-solid.fa-envelope.icon
          li
            a(href="#")
              i.fa-brands.fa-square-instagram.icon
          li
            a(href="#")
              i.fa-brands.fa-linkedin.icon
          li
            a(href="#")
              i.fa-brands.fa-twitter.icon
        // Subscription link to daily facts
        p.subscribe
          a#subscribeButton(href="#") SUBSCRIBE to our daily facts via email
        // Subscription pop-up form
        #popupForm
          form#subscriptionForm
            label(for="email") Email:
            input(type="email", id="email", placeholder="Enter your email here", name="email", required)
            input(type="submit", value="Subscribe")
          // Exit button
          button#closeButton X
        // Overlay (hidden by default)
        #overlay
        // Copyright section
        .copyrights
          p Privacy Policy
          p Copyright @ 2024 | All Rights Reserved
    // Script tags that are responsible for loading the Ionicons library (icons)
    script(type="module", src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js")
    script(nomodule, src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js")
